{% extends "base.html.twig" %}

{% block title %}Voiture{% endblock %}

{% block body %}
    <header class="segment ui raised center aligned green">
        <h2>{{ voiture.marque }}</h2> 

    </header>
    <p>
    
        <a href='{{ path('home') }}' class="ui button">retour</a>
    </p>
    <h5>{{voiture.marque}}</h5>
    <div class="ui small feed">
        <div class="event">
            <div class="content">
                <div class="summary">
                    <div><img src="{{asset("images/voiture.jpg")}}" alt=""></div>
                    <p>
                        {{ voiture.prix }} €
                    </p>
                    <p>
                        description : {{ voiture.description }}
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    

{% endblock %}